<div class="row">
	<div class="panel-heading">
		<h3 class="panel-title"><%= @user.name %></h3>
	</div>

	<div class="col-xs-8">
	  <ul class="nav nav-tabs nav-justified">
 	   <li><a href="#">TODOリスト</a></li>
 	 </ul>
	</div>
</div>